@import "@servicenow/sass-kit/host";

.container {
  display: grid;
  margin: 0 auto;
  max-width: 990px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

h1 {
  text-align: center;
}
